.my_careers {
  .box {
    border-radius: 15px;
    background-color: rgb(209, 245, 168);
    padding-left: 1em;
  }

  .detail_box {
    border-radius: 15px;
    background-color: rgb(147, 241, 218);
    padding-right: 2em;
    padding-left: 2em;
  }

  .row {
    font-size: 1.2rem;
    padding-left: 2em;
  }
}
