// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  ul {
    list-style-type: none;
    li {
      font-size: 1.4rem;
    }
  }

  .parallax-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .parallax-contents {
      display: block;
      text-align: center;
      color: #fffde7;
    }
  }
}
